{% extends 'base.html.twig' %}

{% block main %}
  <section>
    <div class="container">
      <div class="row">
        {# create a partial and use include with a for loop #}
        <h2 class="glow fs-1 text-center">La chambre aux cadeaux</h2>

        {% for gift in gifts %}
          <div class="p-2 col-6 col-md-4">
            <div style="height: 200px;" class="position-relative rounded-1">
              {# <img class="position-absolute" src="{{ asset('/uploads/gifts/' ~ gift.images|first) }}" alt="photo de {{ gift.name }}"> #}
              <img class="z-n1 object-fit-cover top-0 start-0 h-100 w-100 position-absolute" src="{{ asset('/uploads/reindeers/0c783d4036aabf5952329468830bd63b.png') }}" alt="photo de {{ gift.name }}" />
  
              <h3 class=" position-absolute bottom-0 w-100 start-0 bg-dark bg-opacity-25 text-white px-3 py-1 mt-5 mb-0">{{ gift.name }}</h3>
            </div>

          </div>
        {% endfor %}

        {% for category in categories %}
          <p>Catégorie : {{ category.name }}</p>
        {% endfor %}
        {% for age in ages %}
          <p>Age : {{ age.age }}</p>
        {% endfor %}
        {% for gift in gifts %}
          <p>Cadeau : {{ gift.name }}</p>
          <p>Age : {{ gift.age }}</p>
          <p>categorie : {{ gift.category }}</p>
          {% for image in gift.getImages %}
            <p>
              <img src=" {{ asset('uploads/gifts ¬ image.file_name') }}" alt="image de {{ gift.getName }}" />
            </p>
          {% endfor %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock %}
