{% extends 'base.html.twig' %}

{% block main %}
  <section class="py-5">
    <div class="container">
      <div class="row">
        <h2 id="count" class="text-gold text-center glow mb-5">20 jours <br> avant Noël</h2>
      </div>
    </div>
  </section>

  <section class="py-5">
    <div class="container">
      <div class="row">
      {% include '_partials/_reindeers.html.twig' %}
      </div>
    </div>
  </section>

  <section class="py-5">
    <div class="container">
      <div class="row px-2 px-md-0">
        <img class="col-12 col-md-4 px-0" src="{{ asset('assets/images/xmasStory.jpg') }}" alt="image de Noël" aria-landmark="image de Noël" title="image de Noël" />
        <div class="bg-white bg-opacity-75 col-12 col-md-8 p-3">
          <h3 class="fs-1 text-secondary text-center">La fête de Noël</h3>
          <p>Noël est une fête spéciale célébrant la naissance de Jésus. Les enfants décorent des sapins, reçoivent 
            des cadeaux du Père Noël, mangent des friandises et partagent des moments heureux en famille pour répandre 
            la magie et la joie dans le monde.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="py-5">
    <div class="container">
      <div class="row">
        <h3 class="glow fs-1 text-center">Les histoires de Noël</h3>
        {% include '_partials/_comments.html.twig' %}
      </div>
    </div>
  </section>

  <section class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6 mx-md-auto">
          <h3 class="glow fs-1 text-center">Ajouter une histoire de Noël</h3>
          {{ form_start(form) }}
          {{ form_row(form.user_name) }}
          {{ form_row(form.content) }}
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </section>

  <section class="py-5 bg-dark bg-opacity-50">
    <div class="container">
      <div class="row">
        <div class="d-flex align-items-center justify-content-center">
          <span class="text-uppercase mx-3 text-white fw-bold text-end fs-5">Écris vite ta lettre <br /> au Père Noël</span>
          <a class="CTA-rounded fw-bold mx-3 text-center bg-white" href="{{ path('app_letter') }}">ICI</a>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
