{% extends 'base.html.twig' %}

{% block main %}
  <section class="py-5">
    <div class="container">
      <div class="row">
        {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.text) }}
        {{ form_row(form.writer) }}

        <div id="gift-list">
          {% for gift in gifts %}
            {% include '_partials/_gitfLetter.html.twig' %}
          {% endfor %}
        </div>
        {{ form_end(form) }}
      </div>
    </div>
  </section>
{% endblock %}
