{% extends 'base.html.twig' %}

{% block main %}
  <section class="py-5">
    <div class="container">
      {{ form_start(form) }}
      <div class="row">
        <h2 class="text-center fs-1 shadow mb-5">Envoyer un message au Père Noël</h2>
        <div class="col-12 col-lg-6 mx-lg-0">
          {{ form_row(form.writer) }}
      </div>
      <div class="col-12 col-lg-6 mx-lg-0">
          {{ form_row(form.title) }}
          {{ form_row(form.content) }}</div>
      </div>
      {{ form_end(form) }}
    </div>
  </section>
{% endblock %}
